.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* ============================================================
                    LADO IZQUIERDO
============================================================ */
.left {
  flex: 0 0 clamp(380px, 35vw, 520px);
  /* never smaller than 380px, ideally 35% of the viewport, never larger than 520px.*/
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0a0a0a;
  padding: 40px;
  min-width: 50vw;
  overflow: hidden;
}

/* ============================================================
                    LADO DERECHO
============================================================ */
.right {
  flex: 1;
  background-color: #e8e8e8;
}

/* ============================================================
                    MOBILE
============================================================ */
@media (max-width: 768px) {
  .right {
    display: none;
  }

  .left {
    min-width: 100%;
  }
}

@media (max-height: 450px) {
  .container {
    height: auto;
    min-height: 100vh;
  }

  .form {
    padding: 24px;
    margin: auto 0;
  }
}
