.container {
    min-height: 100vh;
    padding: 42px;

    background:
        radial-gradient(circle at top left,
            rgba(123, 124, 255, .10),
            transparent 35%),

        radial-gradient(circle at bottom right,
            rgba(65, 180, 255, .07),
            transparent 40%),

        linear-gradient(180deg,
            #08090d,
            #0b0d14 45%,
            #090b12);
}

.backgroundVideo {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

/* recreando el gradiente usando un pseudo-element */
.container::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;

    background:
        linear-gradient(180deg,
            #090b12bb,
            #090b12df,
            #090b12);
}



/* asegurandome de que el contenido permanece encima del background (gradient + video) */
.header,
.tableWrapper {
    position: relative;
    z-index: 2;
    overflow-x: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 40px;
}

.header>button {
    width: auto;
    padding: 10px 20px;
    margin-top: 0;
}

.headerActions {
    display: flex;
    gap: 12px;
}

.headerActions button {
    width: auto;
    padding: 10px 20px;
    margin-top: 0;
}

/* .title {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
} */

.title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.03em;

    color: white;

    text-shadow:
        0 0 18px rgba(130, 140, 255, .15);
}

/* Mensajes de estado de la petición a la API */
.message {
    color: #888;
    font-size: 15px;
}

.error {
    color: #ff6b6b;
    font-size: 15px;
}

/* ============================================================
                                  TABLE
  ============================================================ */

.tableWrapper {
    border-radius: 18px;
    /*     overflow: hidden; */
    border: 1px solid rgba(255, 255, 255, .06);
    background: rgba(20, 22, 31, .75);
    box-shadow:
        0 20px 60px rgba(0, 0, 0, .45),
        inset 0 1px rgba(255, 255, 255, .04);
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #111;
    min-width: 700px; /* aparece scrollbar horizontal si es menor a min-width */
}

/* .table thead {
    position: sticky;
    top: 0;
    z-index: 10;
} */

.th {
    position: sticky;
    top: 0;
    z-index: 10;

    text-align: left;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #222;
    background:
        linear-gradient(rgba(28, 19, 77, 0.6), rgba(255, 255, 255, 0.1)),
        linear-gradient(rgb(6, 4, 21), rgb(18, 11, 37));
    color: var(--color-accent-light);
    letter-spacing: .1em;
    padding: 18px 22px;
    text-align: center;
    background-attachment: fixed;    /* ensures background stays fixed when scrolling */
}

/* Round corners for the first row of th elements */
    .table thead tr:first-child th:first-child {
        border-top-left-radius: 18px;
    }

    .table thead tr:first-child th:last-child {
        border-top-right-radius: 18px;
    }

    .table:first-child {
        border-top-right-radius: 18px;
        border-top-left-radius: 18px;
    }

.sortButton {
    border: 0;
    background: transparent;
    color: var(--color-accent);
    font: inherit;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;
    cursor: pointer;
    padding: 0;
    opacity: 0.5;
    margin-left: 5px;
}

.sortButton:hover {
    opacity: 1;
}

.tr {
    animation:
        fadeIn .5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(8px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.tr:not(:last-child) {
    border-bottom: 1px solid #1a1a1a;
}

.tr:hover {
    background-color: #161616;
    background:
        linear-gradient(90deg,
            rgba(123, 124, 255, .08),
            rgba(128, 175, 214, 0.185),
            rgba(90, 180, 255, .04));
    border-top: 2px solid rgba(16, 28, 138, 0.4);
    border-bottom: 2px solid rgba(16, 28, 138, 0.4);
}

.td {
    padding: 14px 16px;
    font-size: 16px;
    color: #ccc;
    white-space: nowrap;
    text-align: center;
}

/* ============================================================
                                  USER CELL
    ============================================================ */
.userCell {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* .avatar {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #1a1a1a;
    border: 1px solid #333;
    flex-shrink: 0;
} */

/* ============================================================
                                  BADGE
      ============================================================ */
.badge {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 14px;
    border-radius: 999px;
    border: 1px solid transparent;
}

.badge__root {
    background: rgba(250, 90, 255, 0.14);
    color: #ffa9f2;
    border-color: rgba(255, 90, 222, 0.3);
}

.badge__admin {
    background: rgba(123, 90, 255, .14);
    color: rgb(189, 169, 255);
    border-color: rgba(123, 90, 255, 0.5);
}

.badge__user {
    background: rgba(70, 190, 255, .12);
    color: #7fd5ff;
    border-color: rgba(70, 190, 255, .3);
}

.badge__guest {
    background: rgba(86, 149, 184, 0.12);
    color: #6b7493;
    border-color: rgba(81, 104, 199, 0.22);
}

.badge__root:hover {
    background: rgba(250, 90, 255, 0.3);
    border-color: rgba(255, 90, 222, 0.5);
    box-shadow: 0px 0px 10px 3px rgba(255, 90, 222, 1);
}

.badge__admin:hover {
    background: rgba(123, 90, 255, .5);
    border-color: rgba(123, 90, 255, 0.7);
    box-shadow: 0px 0px 10px 3px rgba(123, 90, 255, 1);
}

.badge__user:hover {
    background: rgba(70, 190, 255, .3);
    border-color: rgba(70, 190, 255, .5);
    box-shadow: 0px 0px 10px 3px rgba(70, 190, 255, 1);
}

.badge__guest:hover {
    background: rgba(86, 149, 184, 0.3);
    border-color: rgba(81, 104, 199, 0.5);
    box-shadow: 0px 0px 10px 3px rgba(81, 104, 199, 1);
}

/* ============================================================
                                    ACTION BUTTONS
        ============================================================ */
.actions {
    display: flex;
    gap: 8px;
    justify-content: space-evenly;
}

.actionBtn {
    --btn-bg-1: #2e116c;
    --btn-bg-2: #411061;
    --btn-bg-3: #2b39a3;
    --btn-bg-4: #613fab;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    border: 1px solid rgba(119, 117, 170, 0.215);
    border-radius: 16px;
    background: linear-gradient(135deg, var(--btn-bg-1), var(--btn-bg-2));
    color: white;
    font-weight: 600;
    font-size: .95rem;
    cursor: pointer;
    transition:
        transform .18s ease,
        box-shadow .18s ease,
        filter .18s ease,
        border-color .18s ease;
    position: relative;

    /* 3D look */
    box-shadow:
        /* top highlight */
        inset 0 1px 1px rgba(255, 255, 255, .35),
        /* bottom shadow */
        inset 0 -2px 4px rgba(0, 0, 0, .18),
        /* outside depth */
        0 0 0 1px rgba(255, 255, 255, .08),
        0 6px 12px rgba(28, 25, 80, .45),
        0 12px 28px rgba(70, 60, 200, .30);
}

.actionBtn:hover {
    border-color: #666;
    color: #fff;
    background-color: #000;

    transform: translateY(4px) scale(.96);
    filter: brightness(1.06);

    box-shadow:
        inset 0 2px 3px rgba(255, 255, 255, .25),
        inset 0 -1px 2px rgba(0, 0, 0, .20),
        0 0 0 1px rgba(255, 255, 255, .05),
        0 3px 7px rgba(28, 25, 80, .30),
        0 6px 14px rgba(70, 60, 200, .20);
}

.actionBtn:active {

    transform:
        translateY(6px) scale(.94);

    box-shadow:
        inset 0 3px 6px rgba(0, 0, 0, .25),
        inset 0 1px 1px rgba(255, 255, 255, .15),
        0 2px 6px rgba(0, 0, 0, .18);
}

.actionBtnEdit {
    border-color: rgb(117, 61, 154);
    color: var(--color-accent-light);
    background: linear-gradient(135deg, var(--btn-bg-3), var(--btn-bg-4));
}

.actionBtnEdit:hover {
    border-color: rgb(154, 93, 229);
    /*     color: #c49dfa; */
}

.actionBtn::before {
    content: "";
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    background: linear-gradient(135deg, rgb(154, 93, 229), rgb(255 120 182 / 78%));
    opacity: 0.5;
    transition: opacity .2s ease;
    z-index: -1;
}

.button:hover::before {
    opacity: 1;
}


/* ============================================================
                                    MOBILE
  ============================================================ */
@media (max-width: 768px) {
    .container {
        padding: 20px 16px;
    }

    .viewGrid,
    .formRow {
        grid-template-columns: 1fr;
    }
}

.genderCell svg {
    display: inline-block;
}

.genderCell:hover svg {
    transform: scale(1.3);
    filter: drop-shadow(0 0 6px currentColor);
}

.desktopTable {
    display: block;
}

.mobileCards {
    display: none;
}

@media (max-width: 900px) {
    .desktopTable {
        display: none;
    }

    .mobileCards {
        display: block;
    }
}

@media (min-width: 700px) and (max-width: 1000px) { /* Tablet */
    .columnEmail, .columnGenero {
        display: none;
    }
}

@media (max-width: 700px)  { /* Mobile */


}
