/* .rightBackground {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    color: white;

    background:
        radial-gradient(circle at bottom right,
            rgba(139, 124, 246, .35),
            transparent 40%),
        linear-gradient(180deg,
            rgba(8, 8, 10, .35),
            rgba(8, 8, 10, .9)),
        url("../../../../assets/images/dna-background.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

.rightBackground {
    position: relative;
    overflow: hidden;

    flex: 1;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;

    color: white;
}

.backgroundVideo {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;

    /*   filter:
        blur(1.5px) brightness(.8) saturate(.85) contrast(1.05); */
}

/* recreando el gradiente usando un pseudo-element */
.rightBackground::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;

    background:
        radial-gradient(circle at bottom right,
            rgba(139, 124, 246, 0.3),
            transparent 70%),
        radial-gradient(circle at 20% 10%,
            rgba(120, 140, 255, 0.3),
            rgba(120, 140, 255, 0.1),
            transparent 40%),
        linear-gradient(90deg,
            rgb(0, 0, 0, 0.6),
            rgba(10, 4, 50, 0.4),
            rgba(27, 17, 60, 0.2),
            rgba(4, 4, 94, 0.01)),
        linear-gradient(180deg,
            rgba(9, 9, 11, 0.2),
            rgba(8, 8, 10, 0.7))
}

.rightBackground::after {
    content: "";
    position: absolute;
    inset: -20%;
    z-index: 1;
    pointer-events: none;

    background:
        radial-gradient(circle,
            #5d5ba85c,
            transparent 60%);

    animation: glowFloat 18s ease-in-out infinite alternate;
}

@keyframes glowFloat {
    from {
        transform: translate(-8%, -5%) scale(1);
    }

    to {
        transform: translate(8%, 6%) scale(1.2);
    }
}

/* asegurandome de que el contenido permanece encima del background (gradient + video) */
.textContainer,
.emptySpace {
    position: relative;
    z-index: 2;
}

/* para el logo */
.content {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* Text container */
.textContainer {
    /*     position: relative; */
    /*     z-index: 1; */
    font-size: 18px;
    margin: 2rem;
    max-height: max-content;
}

.textContainer p {
    font-size: clamp(2rem, 3vw, 3.5rem);
    line-height: 1.15;
    letter-spacing: -0.03em;
    /*     max-width: 12ch; */
}

.toBottom {
    align-self: flex-end;
}

.toTop {
    align-self: flex-start;
}

.toLeft {
    align-self: flex-start;
}

.toRight {
    align-self: flex-end;
}

.maxWidth {
    /*  max-width: 12ch; */
    max-width: 20ch;
}

.emptySpace {
    height: 30vh;
    width: 100%;
}